*{
   font-family: sans-serif;
}

body{
   background-color: white;
}

main{
   background-color: #7FFFD4;
}

.container{
   background-color: transparent;
   height: calc(100vh - 8rem);
}

#griglia{
   margin: auto;
}

#griglia div{
   height: 3rem;
   width: 3rem;
   text-align: center;
   line-height: 3rem;
   border: solid black 1px;
   background-color: #7FFFD4;
}

#griglia div:hover{
   scale: 1.3;
   transition: scale 0.3s;
}   

#griglia .square{
   background-color: #61D2A4;
}

header{
   min-height: 4.5rem;
}

footer{
   min-height: 2.5rem;
}
.griglia-100{
   max-width: 32rem;
}

.griglia-64{
   max-width: 27rem;
}

.griglia-36{
   max-width: 22rem;
}