*{
   font-family: sans-serif;
}

body{
   background-color: #7FFFD4;
}

.container{
   background-color: transparent;
   height: calc(100vh - 10rem);
}

#griglia{
   max-width: 32rem;
   margin: auto;
   background-color: black;
}

div{
   background-color: #7FFFD4;
}

#griglia div{
   height: 3rem;
   width: 3rem;
   margin: 0.1rem;
   text-align: center;
   line-height: 3rem;
}

#griglia div:hover{
   scale: 1.3;
   transition: scale 0.3s;
}   

.fizz{
   background-color: #61D2A4;
}

header, footer{
   height: 4.5rem;
   background-color: white;
}